

input[type=text],
input[type=email],
input[type=number],
input[type=tel],
select{
    font-size: 1em;
    box-sizing: border-box;
    border:1px solid #BEBEBE;
    border-radius: 0.5em;
    padding: 0.5em;
    outline: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=tel]:focus,
select:focus{
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
input[type=color]{
    width: 16em;
    height: 3em;
    border: none;
}

form .form-nobtn{
    width: 100%;
    display: flex;
}

form h2{
    margin-bottom: 1em;
    text-align: center;
}

.info-cellen{
    display: grid;
    place-content: center;
    padding-bottom: 1em;
}
.section{
    width: 100%;
    font: normal 20px 'Bitter', serif;
    padding: 30px 30px 30px 0;
    margin-bottom: 5px;
}

.beneden{
    display: flex;
    margin-top: 6em;
}

.rood {
    background-color: red;
}

.groen {
    background-color: green;
}

.beneden input{
    font-size: 2.69em;
    padding: 10px 2em 10px 2em;
    background-color: #10BBB3;
    border-radius: 10px;
    margin-left: 22em;
}

.beneden h2{
    padding: 15px 15px 15px 35px;
}

.beneden input:hover{
    background-color: #10DBB3;
    cursor: pointer;
}




